<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
</head>
    <body>
        <h2>Content Management System</h2>
        <div>
            @RenderBody()
        </div>
    </body>
</html>
