<script type="text/javascript">
     $(document).ready(function () {
         $("#tabs").tabs();
     });

     function tabItemClicked(link, action) {
         var container = $(link).parents('div#tabs');
         var targetDiv = $($(link).attr('href'), container);

         $.ajax({
             type: "GET",
             url: action,
             dataType: "html",
             success: function (response) {
                 targetDiv.html('');
                 targetDiv.html(response);
             }
         });
     }
 </script>

<div class="article-widget">
    <div id="tabs">
        <ul>
            <li><a href="#tabMostRecent" onclick="var actionUrl = '@Url.Action("MostRecent", "Article")'; tabItemClicked(this, actionUrl);">MOST RECENT</a></li>
            <li><a href="#tabMostPopular" onclick="var actionUrl = '@Url.Action("MostPopular", "Article")'; tabItemClicked(this, actionUrl);">MOST POPULAR</a></li>
        </ul>
        <div id="tabMostRecent">
            @Html.Action("MostRecent", "Article")
        </div>
        <div id="tabMostPopular">
        </div>
    </div>
</div>